@font-face {
  font-family: RockwellB;
  src: url(../fonts/Rockwell-Bold.ttf);
}

*:before,
*:after {
  box-sizing: border-box;
}

main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f99a00;
}

#toolbar-wrap {
  order: 3;
  display: flex;
  justify-content: center;
}

#toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 71px;
  z-index: 1;
  background: #233239;
  border-radius: 20px;
  max-width: 970px;
  min-width: 970px;
  width: 970px;
}

#toolbar.top {
  order: 1;
}

#toolbar.top .popup {
  bottom: auto;
  top: 64px;
}

#toolbar .toolbar-button-container {
  position: relative;
  /* margin: 0 4px;
  min-width: 24px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#toolbar .button-group.tab > .toolbar-button {
  min-width: 58px;
}

/* toolbar ends */

#edit-clock-box {
  user-select: none;
  background: #233239;
  padding: 12px;
  display: flex;
  flex-flow: column nowrap;
}
#edit-clock-box label {
  cursor: pointer;
}
#edit-clock-box .upper-content {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 6px;
}
#edit-clock-box .buttons {
  display: flex;
  flex-flow: row wrap;
  width: 144px;
  height: 144px;
  margin: -1px;
}
#edit-clock-box .checkboxes {
  display: flex;
  flex-flow: column nowrap;
  width: 160px;
  margin-left: 6px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 1em;
}
#edit-clock-box .checkboxes .checkbox-container {
  height: 30px;
  margin-top: 9px;
  margin-bottom: 9px;
  color: #fff;
}
#edit-clock-box .checkboxes .checkbox-container label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#edit-clock-box .checkboxes hr {
  height: 2px;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  border: none;
}
#edit-clock-box .checkboxes input[type="checkbox"] {
  display: none;
}

.base.popup.tail-left::after {
  background-position: 0 0;
  top: 0;
  bottom: 0;
  right: auto;
  left: -36px;
  margin-top: auto;
  margin-bottom: auto;
  transform: rotate(90deg);
}

.base.popup::after {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 130px;
  height: 24px;
  width: 48px;
  background: url(../images/popup-tail.svg) no-repeat;
}

#edit-clock-box #edit-clock-done {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #131b1f;
  font-size: 1.2em;
}

/* Edit clock ends */

#new-clock-box button input {
  margin-right: 10px;
}

#new-clock-box button input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 1px;
  background-clip: content-box;
  border: 4px solid #fff;
  background-color: #727272;
  border-radius: 50%;
  box-shadow: none;
}

#new-clock-box button input[type="radio"]:checked {
  background-color: #19b120;
  background-image: url(../images/radioBG.png);
  background-size: contain;
}

#new-clock-box button input[type="radio"]::before {
  content: "";
  transform: translateX(10px) rotate(-45deg);
}

#edit-clock {
  background-image: url(../images/editClock.png);
  background-size: contain;
}
#digital-mode {
  background-image: url(../images/digital.png);
  background-size: contain;
}

#digital-mode.on {
  background-image: url(../images/digital.png);
}

#run-jump-mode {
  background-image: url(../images/icon-run.png);
}

/* #run-jump-mode.on {
  background-image: url(../images/icon-run.png);
} */

#elapsed-time-mode {
  background-image: url(../images/elapseTime.png);
  background-size: contain;
}

#elapsed-time-mode.on {
  background-image: url(../images/elapseTimeOn.png);
}

#tell-time-mode {
  background-image: url(../images/tellTimeMode.png);
  background-size: contain;
  border-radius: 50%;
}

#tell-time-mode.on {
  background-image: url(../images/tellTimeModeOn.png);
  border: 2px solid rgb(136, 255, 0);
}

#tell-time-wrap{
  display: none;
  position: absolute;    
  left: -130px;
  top: -70px;
}

.up-arrow{
  font-size: 40px;
    text-align: center;
    line-height: 28px;
    width: 65%;
    margin: 0 auto;
    transform: scaleX(1.5);
}
.info-wrap {
  width: 300px;
    height: 150px;
    background: #233239;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;    
}

#time-box {
  user-select: none;
  width: 90%;
  height: 65px;
  background: #8d9598;
  color:#8d9598;
  font-size: 24px;
  text-align: center;
  line-height: 2.5;
}

#tell-time-wrap.active #time-box{
  background-color: #fff;
  color: #000;
}

#tell-time-wrap.active button{
  background-image: url(../images/tell-time-btn-on.png);
}

#tell-time-button {
  width: 90%;
  height: 50px;
  background-image: url(../images/tell-time-btn.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#tell-angle-mode {
  background-image: url(../images/tellAngleMode.png);
  background-size: contain;
}

#tell-angle-mode.on {
  background-image: url(../images/tellAngleModeOn.png);
}

#tell-angle-wrap{
  position: absolute;
  display: none;
  left: -280px;
  top: -70px;
}

#tell-angle-wrap .info-wrap{
  flex-direction: row;
  width: 600px;
}
.info-box{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#info-box-1.active #angle-type{
  background-color: #fff;
  color: #000; 
}
#info-box-1.active button{
  background-image: url(../images/tell-time-btn-on.png);
}

#info-box-2.active #angle-value{
  background-color: #fff;
  color: #000;
}
#info-box-2.active button{
  background-image: url(../images/tell-time-btn-on.png);
}

.angle-info{
  height: 65px;
  width: 90%;
  background: #8d9598;
  color: #8d9598;
  text-align: center;
  line-height: 65px;
  font-size: 30px;
  user-select: none;
}
.angle-button{
  width: 90%;
  height: 50px;
  background-image: url(../images/tell-time-btn.png);
  background-size: contain;
  background-repeat: no-repeat;

}


#fractions-mode {
  background-image: url(../images/fracMode.png);
  background-size: contain;
}
#fractions-mode.on {
  background-image: url(../images/fracModeOn.png);
  background-size: contain;
}

#fill-mode {
  background-image: url(../images/fillMode.png);
  background-size: contain;
}

#fill-mode.on {
  background-image: url(../images/fracModeOn.png);
  background-size: contain;
}

#shade {
  background-image: url(../images/shade.png);
  background-size: contain;
}

#shade.on {
  opacity: 0.5;
}

#equation {
  background-image: url(../images/calText.png);
  background-size: contain;
}

#equation.on {
  opacity: 0.5;
}

#text {
  background-image: url(../images/wTool.png);
  background-size: contain;
}
#text.on {
  opacity: 0.5;
}

#draw {
  background-image: url(../images/dTool.png);
  background-size: contain;
}
#draw.on {
  background-image: url(../images/dTool.png);
  background-size: contain;
}

#duplicate {
  background-image: url(../images/duplicate.png);
  background-size: contain;
}

#trash {
  background-image: url(../images/delete.png);
  background-size: contain;
}

#tempDiv {
  position: fixed;
  left: 580px;
  top: 298px;
  height: 80px;
  width: 120px;
  z-index: 100;
  background-color: rgba(125, 0, 249, 0.3);
  pointer-events: none;
  display: none;
}
